.nav {
  position: relative;
  width: 100%;
  margin-top: 1em;
}

.responsive {
  width: 80%;
  margin: 0 auto;
  align-items: center;
}

.img {
  height: 2em;
}

.div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ul {
  display: flex;
  align-items: center;
  padding: 0;
}

.li {
  padding: 0.5em;
  margin-left: 1em;
  font-size: 1rem;
  color: hsl(0, 0%, 75%);
}
.li:hover {
  cursor: pointer;
  color: hsl(260, 8%, 14%);
}

.login {
  display: flex;
  align-items: center;
}

.h2 {
  padding: 0.5em;
  margin-right: 1em;
  font-size: 1rem;
  color: hsl(0, 0%, 75%);
}

.h2:hover {
  cursor: pointer;
  color: hsl(260, 8%, 14%);
}

@media (min-width: 1700px) {
  .responsive {
    width: 60%;
  }
  .img {
    height: 3em;
  }

  .li {
    font-size: 1.5rem;
  }
  .h2 {
    font-size: 1.5rem;
  }
}
